.chip {
  border-radius: 12px;      // coins arrondis
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 10px;
  margin-right: 5px;
  color: #fff;              // texte blanc pour toutes les couleurs
}